#container {
    position: relative;
    height: 900px;
    border: none;
}

.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}