div.blue {
	width:100px;
	height:200px;
	background-color:blue;
	position: relative;
}
div.yellow{
    width: 100px;
    height: 150px;
    background-color: yellow;
    position: relative;
    bottom: 200px;
    left: 100px;
}
div.red{
    width: 100px;
    height: 150px;
    background-color: red;
    position: relative;
    bottom: 350px;
    left: 200px;
}
div.green {
	width:200px;
	height:50px;
	background-color:green;
	position: relative;
	bottom: 350px;
	left: 100px;
}
